@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-butt {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}


.custom-butt-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1rem;
    font-weight: bold;

}

@keyframes fall {
    0% {
      transform: translateY(-10px) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }
  
  .snow {
    position: absolute;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    filter: blur(1px);
  }
  
  .animate-fall {
    animation: fall linear infinite;
  }
